.banner {
  height: 420px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -100px;
  background-image: url("./1.jpg");
  background-size: cover;
  background-position: center;
}

.banner-title {
  width: 600px;
  font-size: 36px;
  background-color: rgba(0,0,0,0.65);
  padding: 20px 30px;
  color: #fff;
  text-align: center;
}